
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    width: 100%;
    border: 4%;
    font-family: sans-serif;
    margin: 50px;

}
nav{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 40px;
}

nav h2{
    margin-right: auto;
}

nav a{
    color: black;
    padding: 10px;
    text-decoration: none;
    opacity: 70%;
}

nav a:hover{
    color: orange;
}

.aTagDiv{
    display: flex;
    margin-left: auto;
}
.mainDiv{
    width: auto;
    display: grid;
    grid-column: repeat(3,1fr);
    gap: 10px;
}

.box-1{
    grid-row: 1/1;
    grid-column: 1/3;
}

.box-2{
    grid-row: 1/3;
    grid-column: 3/3; 
    background-color: black;
    color: white;
    line-height: 1.6;
    padding: 10px;
}
.box-2 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    size: 10px;
}
.box-2 a:hover{
    color: hsl(35, 77%, 62%);
}

.box-3{
    grid-row: 2/2;
    grid-column: 1/1;
}

.box-4{
    grid-row: 2/2;
    grid-column: 2/3;
}
.box-5{
    display: flex;
    line-height: 1.5;
    padding-top: 30px;
}

.box-5 a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
.box-5 a:hover{
    color: hsl(5, 85%, 63%);
}

img{
    padding: 0;
    margin: 0;
    border: 0;
}
.box-5 img{
    height: 100px;
    width: 25%;
}

button{
    color: white;
    background-color: black;
    cursor: pointer;
    width: 60%;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
}

@media screen and (max-width: 375px) {
    *{
        margin: 0;
        padding: 0;
        border: 0;
    }
    

    .mainDiv{
        
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .box-1{
        grid-column: 1/1;
        grid-row: 1/2;
    }
    .box-2{
        grid-column: 1/1;
        grid-row: 4/5;
    }
    .box-3{
        grid-column: 1/1;
        grid-row: 2/3 ;
    }
    .box-4{
        grid-row: 3/4;
        grid-column:1/1 ;
    }
}
